<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DVDBounce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DVDBounce.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>8, 8, 8</value>
            </setting>
            <setting name="LastDVDImage" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDesktopWallpaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastBgImagePath" serializeAs="String">
                <value />
            </setting>
        </DVDBounce.Properties.Settings>
    </userSettings>
</configuration>